<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.demoapp.mapper.CartMapper">

    <resultMap id="CartResultMap" type="org.example.demoapp.entity.Cart">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="selectByUserId" resultMap="CartResultMap">
        SELECT * FROM cart WHERE user_id = #{userId}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO cart (user_id, create_time, update_time)
        VALUES (#{userId}, #{createTime}, #{updateTime})
    </insert>

    <delete id="deleteByUserId">
        DELETE FROM cart WHERE user_id = #{userId}
    </delete>

</mapper>